.tab-background {
  border-radius: 0 !important;
  margin: 0 !important;
  outline: none !important;
}

#TabsToolbar {
  border-bottom: none !important;
}

.tabbrowser-tab {
  padding: 0 !important;
  height: 45px !important;
  overflow-clip-margin: 0 !important;
}

.tab-background[selected="true"] {
  box-shadow: none !important;
  margin-bottom: 0 !important;
  border: 0 !important;
}

#nav-bar-customization-target {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tab-content {
  padding: 0 10px !important;
}

.tab-label {
  font-size: 1.1em;
}

.tab-throbber,
.tab-icon-pending,
.tab-icon-image,
.tab-sharing-icon-overlay,
.tab-icon-overlay {
  height: 18px;
  width: 18px;
}

#PersonalToolbar {
  padding-bottom: 5px !important;
}

#tabs-newtab-button,
#vertical-tabs-newtab-button {
  padding: 0 !important;
  margin: 0 !important;
}

#tabs-newtab-button .toolbarbutton-icon {
  height: 100% !important;
  width: 45px !important;
  border-radius: 0 !important;
}

.titlebar-spacer {
  width: 0px !important;
}

#tabbrowser-tabs[orient="horizontal"] tab-split-view-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

#tabbrowser-tabs tab-split-view-wrapper {
  & .tabbrowser-tab:last-child {
    border-inline-start: 0 !important;
  }
}

#sidebar-panel-header {
  margin: 0 !important;
  padding: 10px 15px 5px 15px !important;
}